In [4]:
l1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [10]:
print(sorted(l1,key=lambda x:x[1]))

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [12]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list(map(lambda x:x**2,l1)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(tuple(map(lambda x:x,l1)))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [17]:
from functools import reduce
l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
print(reduce(lambda x,y:x*y,l1))

15511210043330985984000000

In [31]:
l1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

x = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, l1))

print(x)

[6, 60, 90, 120]

In [43]:
l1=['python', 'php', 'aba', 'radar', 'level']
print(list(filter(lambda x: x == x[::-1], l1)))

['php', 'aba', 'radar', 'level']